.items {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.AudioComponent {
    width: 100px;
    height: 150px;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    align-items:flex-start;
    list-style: none;
    border-radius: 5px;
    box-shadow: 3px 5px 25px -8px rgba(0,0,0,0.22);
    position: relative;
    background: white;
}


.AudioComponent span {
  font-size: 12px;
  display: block;
  padding: 10px;
  /* border-radius: 5px 5px 0 0; */
  background-color: rgba(255, 255, 255, 0.75);
  color: #282c34;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  left: 0;
  right: 0;
}

.AudioComponent:hover {
    box-shadow: inset 3px 5px 25px -8px rgba(0,0,0,0.22);
}

img {
    position: absolute;
    top: 44px;
    left: 73%;
    width: 20px;
    height: 20px;
}


.img0, .img4, .img6, .img15 {
  background-image: url('./assets/images/SAMPLE01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img2, .img5, .img10 {
  background-image: url('./assets/images/SAMPLE02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img3, .img8,.img11  {
  background-image: url('./assets/images/SAMPLE03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img1, .img13,.img9 {
  background-image: url('./assets/images/SAMPLE04.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img7, .img12,.img14 {
  background-image: url('./assets/images/SAMPLE05.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
